/node_modules
/packages
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
_ide_helper.php
_lighthouse_ide_helper.php
schema-directives.graphql
.phpstorm.meta.php
yarn-error.log
composer.phar
.phpunit.result.cache
.DS_Store
