#mini-cart {
  position: relative;

  .badge {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: -5px;
      right: -5px;
    }

    border-radius: 1rem;
    font-weight: 100;
  }
}

#cart-item-container {
  position: relative;

  #cart-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,0.4);
    z-index: 100;
    text-align: center;
    line-height: 50vh;
  }

  .cart-header {
    font-weight: 300;
    font-size: 1.1rem;
    font-style: italic;
    padding: 10px 0;
  }

  .cart-grand-total {
    white-space: nowrap;
  }

  .cart-footer {
    padding: 10px 0;
    font-size: 1.3rem;

    .cart-grand-total-text {
      .small {
        font-style: italic;
        color: #999;
      }
    }
  }

  .cart-footer-buttons,
  .cart-footer-destroy-button {
    margin-top: 20px;
  }
}

@include media-breakpoint-down(sm) {
  .cart-header {
    display: none !important;
  }

  .cart-item-price,
  .cart-item-subtotal,
  .cart-grand-total {
    font-size: .9em;
  }

  .cart-item-qty input {
    padding: 6px 4px;
  }
}