.carousel {
  .carousel-indicators {
    bottom: -60px;

    li {
      height: 5px;
      transform: skew(-45deg);
    }
  }

  .carousel-item {
    text-align: center;

    .carousel-caption {
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      padding-left: 10px;
      padding-right: 10px;
    }

    .carousel-image {
      height: 300px;
    }
  }
}
