.carousel {
  .carousel-indicators {
    bottom: -40px;

    li {
      height: 5px;
      transform: skew(-45deg);
    }
  }

  .carousel-item {
    text-align: center;

    .carousel-caption {
      bottom: 0;
      text-shadow:
              0.05em 0 10px black,
              0 0.05em 10px black,
              -0.05em 0 10px black,
              0 -0.05em 10px black;
    }

    .carousel-image {
      height: 300px;
    }
  }
}