.img-svg {
  padding: 10px 0;
  margin: 100px 0;

  &.rotate-180 {
    transform: rotateY(180deg);
  }

  &.pipe {
    background: url('/storage/static/images/pipe.svg') no-repeat;
    background-size: 50%;
    height: 100px;
  }

  &.pipe-with-connector {
    background: url('/storage/static/images/pipe-with-connector.svg');
    height: 110px;
  }

  &.broken-pipe {
    background-image: url('/storage/static/images/broken-pipe.svg');
    height: 50%;
  }
}

.img-png {
  &.cover-image {
    height: 500px;
    background-size: cover;

    @include media-breakpoint-down(sm) {
      height: 250px;
    }
  }

  @at-root html.webp &.company-image {
    background: url('/storage/static/images/company.webp') center;
    background-size: cover;
  }

  @at-root html.no-webp &.company-image {
    background: url('/storage/static/images/company.jpg') center;
    background-size: cover;
  }
}