// Fonts
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen+Mono);

// Variables
@import "variables";

// Packages
@import "~bootstrap-material-design/scss/bootstrap-material-design";

@import "~datatables.net-bs4/css/dataTables.bootstrap4.min";

// Components
@import "components/sidebar";
@import "components/notification";
@import "components/dataTables";

html,
body {
  font-family: $font-family-sans-serif;
  overflow-x: hidden;
  font-weight: 400;
}

.monospace {
  font-family: $font-family-monospace;
}
